<div class="ui piled segment">

  <form class="ui form">

    <div class="ui teal dividing header">
      <i class="user icon"></i>
      <div class="content">
        Cliente nuevo
        <div class="sub header">Formulario</div>
      </div>
    </div>

    <div class="two fields">
      <div class="required field">
        <label>Apellido</label>
        <input type="text" name="apellido" ng-model="cliente.mail" placeholder="Apellido">
      </div>
      <div class="field">
        <label>Nombre</label>
        <input type="text" name="nombre" ng-model="cliente.mail" placeholder="Nombre">
      </div>
    </div>
    
    <div class="two fields">
      <div class="field">
        <label>Cuit o cuil</label>        
        <input type="text" name="cuitCuil" ng-model="cliente.mail" placeholder="CUIT o CUIL"> 
      </div>
      <div class="field">
        <label>Tipo de Cliente</label>
        <select class="ui search dropdown" ng-model="cliente.tipoCliente" name="tipoCliente" ng-options="tipoCliente.valor for tipoCliente in tiposClientes">
          <option value=""><-Tipo de cliente-></option>
          <option value="RI">Responsable Inscripto</option>
        </select>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Teléfono</label>
        <input type="text" name="nombre" placeholder="Teléfono">
      </div>
      <div class="field">
        <label>E-mail</label>
        <input type="email" name="email" placeholder="Email">
      </div>  
    </div>

    <div class="required three fields">
      <div class="field">
        <label>Dirección</label>        
        <input type="text" name="direccion" placeholder="Dirección">        
      </div>
      <div class="field">
        <label>Ciudad</label>
        <select class="ui search dropdown">
          <option value="">Ciudad</option>
          <option value="CA">Casilda</option>
        </select>
      </div>
      <div class="field">
        <label>Provincia</label>
        <select class="ui search dropdown">
          <option value="">Provincia</option>
          <option value="SF">Santa Fe</option>
        </select>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Fecha inicio actividad</label>
          <div class="field">
            <input type="date" name="fechaInicio">
          </div>
      </div>
      <div class="required field">
        <label>Genero</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="gender">
          <div class="default text">Genero</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="male">Masculino</div>
            <div class="item" data-value="female">Femenino</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label>Datos extras</label>
      <textarea></textarea>
    </div>
    <div class="ui teal dividing header"></div>
    <div class="ui buttons">
      <div class="positive ui button">Guardar</div>
      <div class="or"></div>
      <div class="negative ui button">Cancelar</div>
    </div>
  </form>
</div>