<div class="ui piled segment">
    <div class="ui divided very relaxed animated list">
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Santiago Peralta</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Guido Marcos</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Facundo Segarra</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Fran Alain</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Duarte Jesica</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="header">Lench Walcon</div>
          Description
        </div>
      </div>
    </div>
</div>