<div class="ui piled segment">
    <div class="ui divided very relaxed animated list">
      <h2 class="ui header">Listado de clientes</h2>
      <div class="ui fluid icon input">
        <input type="text" placeholder="Buscar...">
        <i class="search icon"></i>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Santiago Peralta</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Guido Marcos</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Facundo Segarra</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Fran Alain</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Duarte Jesica</div>
          Description
        </div>
      </div>
      <div class="item">
        <i class="ui top teal aligned big settings icon"></i>
        <div class="content">
          <div class="ui teal header">Lench Walcon</div>
          Description
        </div>
      </div>
    </div>
</div>