<!-- scripts/views/cliente-detail.html -->
<div class="ui piled segment">
	<div class="twelve wide column">
		<div class="ui teal dividing header">
  			<i class="user icon"></i>
  			<div class="content">
    			Cliente
    			<div class="sub header">Segarra Facundo</div>
    		</div>
  		</div>
  		<div class="ui segment">
  			<h4 class="ui header">Direccion </h4>
  			<p>Urquiza 1424</p> 
  			<div class="ui inverted divider"></div>
  			<h4 class="ui header">Ciudad </h4>
  			<p>Rosario</p>
			<div class="ui inverted divider"></div>
			<h4 class="ui header">E-mail </h4>
			<p> facundosegarra@gmail.com</p>
			<div class="ui inverted divider"></div>
			<h4 class="ui header">Teléfono </h4>
			<p> (03472) 15 633 842 </p>
		</div>
	</div>
</div>
<div class="ui piled segment">
	<div class="3 fluid ui icon buttons">
		<div class="ui button">
			<i class="add user green big icon" ui-sref="clientes.new"></i></div>
		<div class="ui button">
			<i class="refresh yellow big icon"></i>
		</div>
		<div class="ui button">
			<i class="remove user red big icon"></i>
		</div>
	</div>
</div>