<!-- scripts/views/cliente-detail.html -->
<div class="ui piled segment">
	<div class="twelve wide column">
		<div class="ui teal dividing header">
  			<i class="user icon"></i>
  			<div class="content">
    			Cliente
    			<div class="sub header">Segarra Facundo</div>
    		</div>
  		</div>
  		<div class="ui segment">
  			<p>Direccion: </p> Urquiza 1424 
  			<div class="ui inverted divider"></div>
  			<p>Ciudad: </p> Rosario
			<div class="ui inverted divider"></div>
			<p>E-mail: </p> facundosegarra@gmail.com
			<div class="ui inverted divider"></div>
			<p>Teléfono: </p> (03472) 15 633 842
		</div>
		<i class="plus centered icon" ui-sref="clientes.new"></i>
		<i class="trash centered icon"></i>
	</div>
</div>