<div class="ui piled segment">
  <div class="ui teal dividing header">
    <i class="user icon"></i>
    <div class="content">
      Clientes
      <div class="sub header">Listado</div>
    </div>
  </div>
  <div class="ui fluid icon input">
    <input type="text" placeholder="Buscar...">
    <i class="search icon"></i>
  </div>
  <div class="ui divided very relaxed animated list">
    <div class="item" ng-repeat="cliente in clientes | orderBy: ordenSeleccionado | filter: buscado">
      <i class="ui top teal aligned big settings icon"></i>
      <div class="content">
        <div class="header">{{cliente.nombre}} {{cliente.apellido}}</div>
        {{cliente.cuitCuil}}
      </div>
    </div>
  </div>
</div>