<div class="ui piled segment">
    <div class="ui divided very relaxed animated list">
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Santiago Peralta</div>
          Remito
        </div>
      </div>
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Guido Marcos</div>
          Factura A
        </div>
      </div>
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Facundo Segarra</div>
          Tickets
        </div>
      </div>
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Fran Alain</div>
          Tarjeta Personal
        </div>
      </div>
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Duarte Jesica</div>
          Recibo B
        </div>
      </div>
      <div class="item">
        <i class="ui top aligned big settings icon"></i>
        <div class="content">
          <div class="header">Frida Roman</div>
          Factura A
        </div>
      </div>
    </div>
</div>