<div class="ui piled segment">
  <form class="ui form">
    <h4 class="ui dividing header">Nuevo trabajo</h4>
    <div class="two fields">
      <div class="field">
        <label>Tipo de trabajo</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="first-name" placeholder="Nombre">
          </div>
          <div class="field">
            <input type="text" name="last-name" placeholder="Apellido">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Genero</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="gender">
          <div class="default text">Genero</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="male">Masculino</div>
            <div class="item" data-value="female">Femenino</div>
          </div>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Tipo de trabajo</label>
        <select class="ui search dropdown">
          <option value=""><-tipo-></option>
          <option value="AL">Factura A</option>
          <option value="AL">Recibo</option>
        </select>
      </div>
      <div class="field"></div>
    </div>
    <div class="field">
      <label>Datos extras</label>
      <textarea></textarea>
    </div>
    <h4 class="ui dividing header">Datos del cliente</h4>
    <div class="two fields">
      <div class="field">
        <label>Tipo de trabajo</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="first-name" placeholder="Nombre">
          </div>
          <div class="field">
            <input type="text" name="last-name" placeholder="Apellido">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Genero</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="gender">
          <div class="default text">Genero</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="male">Masculino</div>
            <div class="item" data-value="female">Femenino</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui buttons">
      <div class="ui positive button">Guardar</div>
      <div class="or"></div>
      <div class="ui button">Cancelar</div>
</div>
  </form>
</div>