<!-- scripts/views/clientes.html -->
<div class="ui padded grid">
    <div class="column">
    	<a ui-sref="clientes.new" class="ui column centered">New</a>
		<a ui-sref="clientes.detail">Detail</a>
    </div>
    <div class="four column centered row">
        <div class="ten  wide column">
	      	<div ui-view="viewA">
	      		viewA
	      	</div>
        </div>
        <div class="six wide column">
	      	<div ui-view="viewB">	
	      		viewB
	      	</div>
	    </div>
    </div>
</div>  
<!-- Also a way to navigate -->

